__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env*
.vscode/
.idea/
*.swp
*.bak
*.tmp
node_modules/
.git/
.gitignore
docker-compose.override.yml
servers.json
data/
db_data/
db-data/
pgadmin/

# Исключить тестовые и временные файлы
*.md
*.ipynb
test-scripts/
temp.md
