# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
dist/
build/

# VSCode, PyCharm
.vscode/
.idea/

# System
.DS_Store

# Docker artifacts
*.log
logs/
*.db
*.sqlite3
*.parquet
*.csv
*.tmp
docker-compose.override.yml

# Pytest, coverage
.pytest_cache/
coverage/
htmlcov/
*.cover
*.coverage
.cache/
__tests__/

# Local configs
.env
.env.*

# Custom directories
checkpoints/
fake-api-service/
db-data/
certs/
/pgweb/bookmarks/default.toml
/timescaledb/data/
/test-scripts/

temp.md
independent-coins.md
XBX-USD-constituents.md
btsusdt-insruments.md
docker-clear.md
caddy.md
caddy/Caddyfile
caddy/data